<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
    <!-- header -->
    <div id="header" th:fragment="header"
         th:with="
            currentMenuIdTop=${currentMenu !=null ? currentMenu.parentTopMenuId:''},
            currentMenuIdParent=${currentMenu !=null ? currentMenu.menu_pid:''},
            currentMenuId=${currentMenu !=null  ? currentMenu.menu_id:''}
    ">
        <h1><a href="#"><img src="/assets/images/logo.png" alt="문화포털 통합관리시스템" /></a></h1>

        <!--/* 메뉴관련 (메뉴가 존재)시작 */-->
        <ul id="gnb" th:if="${allMenuTree !=null and !allMenuTree.empty}">
            <li th:each="dep1,index : ${allMenuTree}" th:class="${index.count >= 10} ?'menu'+${index.count} : 'menu0'+${index.count}" th:classappend="${dep1.menu_id eq currentMenuIdTop} ? 'on':'' ">
                <a th:href="${dep1.firstUrl}">
                    <span th:text="${dep1.menu_name }"></span>
                </a>
            </li>
        </ul>
        <!--/* 메뉴관련 (메뉴가존재) 끝 */-->
        <!--/* 메뉴관련 (메뉴X)시작 */-->
        <ul id="gnb" th:unless="${allMenuTree !=null and !allMenuTree.empty}">
            <li><a th:href="#void" th:class="focus">기타 서비스</a></li>
        </ul>
        <!--/* 메뉴관련 (메뉴X)끝 */-->

        <ul class="utility">
            <li class="name" th:text="${session.admin_id}"></li>
            <li class="logout"><a href="/logout.do">로그아웃</a></li>
        </ul>
    </div>
    <!-- //header -->
</body>
</html>