<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
    <!-- header -->
    <div id="header" th:fragment="header">
        <h1><a href="#"><img src="/assets/images/logo.png" alt="문화포털 통합관리시스템" /></a></h1>
        <ul id="gnb">
            <li class="menu01"><a href="#"><span>메인/공통</span></a></li>
            <li class="menu02 on"><a href="#"><span>공연/전시</span></a></li>
            <li class="menu03"><a href="#"><span>행사/교육</span></a></li>
            <li class="menu04"><a href="#"><span>매거진/문화영상</span></a></li>
            <li class="menu05"><a href="#"><span>전통디자인</span></a></li>
            <li class="menu06"><a href="#"><span>시설/단체</span></a></li>
            <li class="menu07"><a href="#"><span>문화지식/정책</span></a></li>
            <li class="menu08"><a href="#"><span>이벤트/소식</span></a></li>
            <li class="menu08"><a href="#"><span>이용안내</span></a></li>
            <li class="menu08"><a href="#"><span>회원관리</span></a></li>
            <li class="menu08"><a href="#"><span>부가메뉴</span></a></li>
        </ul>
        <ul class="utility">
            <li class="name">postcorea</li>
            <li class="logout"><a href="#">로그아웃</a></li>
        </ul>
    </div>
    <!-- //header -->
</body>
</html>