<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">
<head>
    <title>KCISA 문화포털 통합관리시스템</title>
</head>
<body>
    <div id="contents" layout:fragment="contents">
        <div class="content_header">
            <div class="location"><a href="#" class="ico_home">홈</a> &gt; 공연/전시 &gt; 문화릴레이티켓 &gt; <span>할인중인공연</span></div>
            <h3>할인중인공연</h3>
        </div>
        컨텐츠영역
    </div>
</body>
</html>