<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}">
<head>
<title>KCISA 문화포털 통합관리시스템</title>
<script type="text/javascript">

var callback = {
	fileUpload : function (res) {
		// res.full_file_path
		// res.file_path
		$('input[name=img_url]').val(res.file_path);
		$('.upload_pop_img').html('<img src="/upload/recom/sns/' + res.file_path + '" width="40" height="40" alt="" />');
	}
};

$(function () {
	// 에디터 HTML 적용
	// oEditors.getById['contents'].exec("UPDATE_CONTENTS_FIELD", []);
	// nhn.husky.EZCreator.createInIFrame( oEditorsOption );
	
	var frm			=	$('form[name=frm]');
	var idx			=	frm.find('input[name=idx]');
	var creator		=	frm.find('input[name=creator]');
	var approval	=	frm.find('input[name=approval]');

	frm.submit(function () {
		// frm.serialize()
		// oEditors.getById['contents'].exec("UPDATE_CONTENTS_FIELD", []);
		
		var subject = document.getElementById("subject").value;
		if(subject=='A'){
			document.getElementById("sort").value ="7";
		}
		if(subject=='B'){
			document.getElementById("sort").value ="2";
		}
		if(subject=='C'){
			document.getElementById("sort").value ="1";
		}
		if(subject=='D'){
			document.getElementById("sort").value ="4";
		}
		if(subject=='E'){
			document.getElementById("sort").value ="6";
		}
		if(subject=='F'){
			document.getElementById("sort").value ="5";
		}
		if(subject=='G'){
			document.getElementById("sort").value ="3";
		}
		
		if (idx.val() != '') {
			if (!confirm('수정하시겠습니까?')) {
				return false;
			}
		}
		if (creator.val() == '') {
			creator.focus();
			alert('기관명을 입력해 주세요.');
			return false;
		}
		if (approval.filter(':checked').size() == 0) {
			approval.eq(0).focus();
			alert('승인여부를 선택해 주세요.');
			return false;
		}
		return true;
	});

	// 파일업로드
	$('.upload_pop_btn').click(function () {
		Popup.fileUpload('customer_sns');
		return false;
	});
	
	// 등록/수정
	$('.insert_btn').click(function () {
		frm.submit();
		return false;
	});
	
	// 삭제
	if ($('.delete_btn').size() > 0) {
		$('.delete_btn').click(function () {
			// 삭제
			if (!confirm('삭제하시겠습니까?')) {
				return false;
			}
			if (idx.val() == '') {
				alert('idx가 존재하지 않습니다.');
				return false;
			}

			var param = {
				idxs : [ idx.val() ]
			};

			$.ajax({
				url			:	'/customer/sns/delete.do'
				,type		:	'post'
				,data		:	$.param(param, true)
				,dataType	:	'json'
				,success	:	function (res) {
					if (res.success) {
						alert("삭제가 완료 되었습니다.");
						location.href = $('.list_btn').attr('href');

					} else {
						alert("삭제 실패 되었습니다.");
					}
				}
				,error : function(data, status, err) {
					alert("삭제 실패 되었습니다.");
				}
			});

			return false;
		});		
	}

});
</script>
</head>
<body>
	<div id="contents" layout:fragment="contents"
		th:with="currentMenu=${currentMenu}">
		<!--/* content_header 시작 */-->
		<th:block
			th:replace="~{layout/fragments/contentHeader :: contentHeader}"></th:block>
		<!--/* content_header 끝 */-->
		<form name="frm" method="POST" action="/customer/sns/form.do"
			enctype="multipart/form-data">
			<div class="cont_box">
					<input type="hidden" name="sort" id="sort" th:value="" />
					<input type="hidden" name="qs" th:value="${paramMap[qr] }" />
					<input type="hidden" name="idx" th:value="${view.idx }" />
				<table class="tbl_view">
					<caption>상세 보기</caption>
					<colgroup>
						<col style="width:15%" />
						<col style="width:35%" />
						<col style="width:15%" />
						<col style="width:35%" />
					</colgroup>
					<tbody>
					<th:block th:if="${ !view.id.empty }">
						<tr>
							<th scope="row">고유번호</th>
							<td colspan="">
							[[${view.idx }]]
							</td>
						</tr>
						<tr>
						<th scope="row">등록자</th>
							<td>
							<th:block th:text="${view.reg_id == null ? '-' : view.reg_id}" ></th:block>
							</td>
							<th scope="row">등록일</th>
							<td>
							<th:block th:text="${view.reg_date == null ? '-' : view.reg_date}" ></th:block>
							</td>
						</tr>
						<tr>
							<th scope="row">분야</th>
							<td colspan="3">
								<input type="hidden" name="org_code" th:value="${view.org_code }" />
								<input type="text" name="category" th:value="${view.category }" readonly="readonly" style="width:580px" />
								<span ><a href="#" class=" btn_ltype3">출처</a></span>
							</td>
						</tr>
						</th:block>
						<tr>
							<th scope="row">구분</th>
							<td colspan="3">
								<select name="subject" id="subject">
								<c:forEach items="${categoryList }" var="j">
									<option value="${j.value }" <c:if test="${item.subject eq j.value }">selected</c:if>>${j.name }</option>
								</c:forEach>
								</select>
							</td>
						<tr>
							<th scope="row">기관명</th>
							<td colspan="3">
							<input type="text" name="title" th:value="${view.name }" style="width:670px" />
							</td>
						</tr>
					</tbody>
				</table>
		
				<div class="btn_center">
					<span >
					<a href="#" class="insert_btn btn_ltype1">[[${ view.id.empty ? '등록' : '수정' }]]</a>
					</span>
					<th:block th:if="${!view.id.empty  }">
						<span ><a href="#" class="delete_btn btn_ltype1">삭제</a></span>
					</th:block>
					<span >
					<a href="/customer/faq/list.do?${paramMap[qr_dec]}" class="list_btn btn_ltype3">목록</a></span>
				</div>
			</div>
		</form>
	</div>
</body>
</html>