<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin}">
<head>
    <title>KCISA 문화포털 통합관리시스템</title>
    <script type="text/javascript" src="/crosseditor/js/namo_scripteditor.js"></script><!--/* todo 추후 에디터 변경 (김현준) */-->

    <script type="text/javascript" th:inline="javascript">
        /* <![CDATA[ */

        var action = "";

        var callback = {
            place : function (res) {
                if (res == null) {
                    return false;
                }

                $('input[name=venue]').val(res.cul_name);
                $('input[name=location]').val(res.cul_addr);
            },
            culturegroup : function(res){
                if(res==null){
                    return false;
                }
                $('input[name=rights]').val(res.title);
            }
        };

        $(function () {

            $('input[name=uploadFile]').on('change', function(){
                $('.inputText:not(.styurl)').val($(this).val().substr(12));
            })

            $('input[name^=styurl]').on('change',function(){
                var className=$(this).attr("name");
                $('.'+className).val($(this).val().substr(12));
            });

            var frm = $('form[name=frm]');
            var reg_date_start = frm.find('input[name=reg_start]');
            var reg_date_end = frm.find('input[name=reg_end]');

            var title		= frm.find('input[name=title]');
            var url		= frm.find('input[name=url]');
            var venue		= frm.find('input[name=venue]');
            var time		= frm.find('input[name=time]');
            var extent		= frm.find('input[name=extent]');
            var grade		= frm.find('input[name=grade]');
            var rights		= frm.find('input[name=rights]');
            var charge		= frm.find('input[name=charge]');
            var reference		= frm.find('input[name=reference]');


            changeNote = function(ele) {
                if(ele) checked = ele.val();
                else checked = $(':radio[name=note1]:checked').val();

                if(checked == 'Y') {
                    $('input[name=reference_identifier]').hide();
                    $('div.fileInputs:not(.styurl)').show();
                    $('input[name=imagedelete]').parent().show();
                } else if(checked == 'N') {
                    $('input[name=reference_identifier]').show();
                    $('div.fileInputs:not(.styurl)').hide();
                    $('input[name=imagedelete]').parent().hide();
                }
            }
            //layout

            new Datepicker(reg_date_start, reg_date_end);

            /*[# th:if="${view != null}"]*/
                //radio check
                if(/*[[ ${view.approval} ]]*/ null) {
                    $('input:radio[name="approval"][value=[[ @{${view[approval]}} ]] ]').prop('checked', 'checked');
                }
                if(/*[[ ${view.note1} ]]*/ null) {
                    $('input:radio[name="note1"][value=[[ @{${view[note1]}} ]] ]').prop('checked', 'checked');
                }
                //select box
                if(/*[[ ${view.genre} ]]*/ null) {
                    $("select[name=genre]").val(/*[[${view[genre]}]]*/).attr("selected", "selected");
                }
            /*[/]*/

            //썸네일 이미지
            changeNote();

            $('input[name=note1]').change(function(){
                changeNote($(this));
            });

            // http 자동 붙이기
            $("#url").change(function() {
                if(this.value !='' && this.value != undefined && this.value != null) {
                    if (!/^http:\/\//.test(this.value)) {
                        this.value = "http://" + this.value;
                    }
                }
            });

            //URL 미리보기
            goLink = function() {
                var url = $('#url').val();

                if(url !='' && url != undefined && url != null) {
                    window.open(url);
                } else {
                    alert('URL을 입력하여 주세요');
                    $('#url').focus();
                    return false;
                }
            }

            // 공연장소 '선택' 버튼 클릭
            callPlacePopup = function () {
                window.open('/popup/place.do', 'placePopup', 'scrollbars=no,width=700,height=730');
            }

            frm.submit(function(){
                //DB NOT NULL 기준 체크
                if(action == 'delete'){
                    return true;
                }

                /*
                if(title.val() == '') {
                    alert("제목 입력하세요");
                    title.focus();
                    return false;
                }

                if($('input[name=note1]:checked').val() == 'Y'){
                    if($('input[name=reference_identifier]').val() == ''){
                         alert("썸네일 이미지 선택하세요");
                         $('input[name=reference_identifier]').focus();
                         return false;
                    }
                }

                if($('input[name=note1]:checked').val() == 'N'){
                    if($('input[name=reference_identifier]').val() == ''){
                         alert("이미지 경로 입력하세요");
                         $('input[name=reference_identifier]').focus();
                         return false;
                    }
                }

                if(url.val() ==''){
                    alert('URL 입력하세요');
                    url.focus();
                    return false;
                }

                if(reg_date_start.val() ==''){
                    alert('시작일 입력하세요');
                    reg_date_start.focus();
                    return false;
                }

                if(reg_date_end.val() ==''){
                    alert('종료일 입력하세요');
                    reg_date_end.focus();
                    return false;
                }

                if(venue.val() ==''){
                    alert('장소를 입력하세요');
                    venue.focus();
                    return false;
                }

                if(time.val() ==''){
                    alert('시간을 입력하세요');
                    time.focus();
                    return false;
                }

                if(extent.val() ==''){
                    alert('러닝타임을 입력하세요');
                    extent.focus();
                    return false;
                }

                if(grade.val() ==''){
                    alert('연령을 입력하세요');
                    grade.focus();
                    return false;
                }

                if(rights.val() ==''){
                    alert('주최 입력하세요');
                    rights.focus();
                    return false;
                }

                if(charge.val() ==''){
                    alert('관람료 입력하세요');
                    charge.focus();
                    return false;
                }

                if(reference.val() ==''){
                    alert('문의 입력하세요');
                    reference.focus();
                    return false;
                }
                 */
                return true;
            });

            //수정 , 삭제 , 등록
            $('.btn_right > a').each(function() {
                $(this).click(function() {
                    if($(this).html() == '수정') {
                        if (!confirm('수정하시겠습니까?')) {
                            return false;
                        }
                        frm.attr('action' ,'/perform/show/update.do');
                        /* 20151006 : 이용환 : 에디터 변경을 위해 수정
                        oEditors.getById['contents'].exec("UPDATE_CONTENTS_FIELD", []);
                        */
                        document.getElementById("txt_contents").value = CrossEditor.GetBodyValue("XHTML");
                        $('input[name=venue2]').val($('input[name=venue]').val());
                        frm.submit();
                    } else if($(this).html() == '삭제') {
                        if (!confirm('삭제 하시겠습니까?')) {
                            return false;
                        }
                        action = "delete";
                        frm.attr('action' ,'/perform/show/delete.do');
                        frm.submit();
                    } else if($(this).html() == '등록') {
                        if (!confirm('등록하시겠습니까?')) {
                            return false;
                        }
                        frm.attr('action' ,'/perform/show/insert.do');
                        /* 20151006 : 이용환 : 에디터 변경을 위해 수정
                        oEditors.getById['contents'].exec("UPDATE_CONTENTS_FIELD", []);
                        */
                        document.getElementById("txt_contents").value = CrossEditor.GetBodyValue("XHTML");
                        $('input[name=venue2]').val($('input[name=venue]').val());
                        frm.submit();
                    } else if($(this).html() == '목록') {
                        location.href='/perform/show/list.do?'+[[ ${paramMap[qr_dec]} ]];
                    }
                });
            });

        });
        /* ]]> */
    </script>
</head>
<body>
    <div id="contents" layout:fragment="contents" th:with="currentMenu=${currentMenu}">
        <!--/* content_header 시작 */-->
        <th:block th:replace="~{layout/fragments/contentHeader :: contentHeader}"></th:block>
        <!--/* content_header 끝 */-->
        <form name="frm" method="post" action="/perform/show/insert.do" enctype="multipart/form-data">
            <input type="hidden" name="venue2" value=""/>
            <input type="hidden" name="mode" value="view"/>
            <input th:if="${view != null and view.uci != null}" type="hidden" name="uci" th:value="${view.uci}"/>

        <div class="cont_box">
            <table class="tbl_view">
                <caption>과정기본정보</caption>
                <colgroup>
                    <col style="width:13%" />
                    <col style="width:37%" />
                    <col style="width:13%" />
                    <col>
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row"><em>*</em>제목</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="제목" name="title" id="title" th:value="${view.title}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="제목" name="title" id="title" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row"><em>*</em>장르</th>
                        <td colspan="3">
                            <select title="출처 선택" name="genre">
                                <th:block th:each="list : ${genreList}">
                                    <option th:value="${list.value}" th:text="${list.name}"></option>
                                </th:block>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">썸네일 이미지</th>
                        <td colspan="2">
                            <ul class="itemlist">
                                <li><input type="radio" name="note1" id="yes" checked="checked" value="Y"/><em></em> <label for="yes">이미지</label></li>
                                <li><input type="radio" name="note1" id="no" value="N" /><em></em> <label for="no">URL</label></li>
                            </ul>
                            <!--/* todo 파일관련 (김현준) */-->
                            <div style="margin-top: 5px;" class="fileInputs">
                                <input type="file" name="uploadFile" title="파일선택" />

                                <th:block th:if="${view != null and view.note1 eq 'Y'}">

                                    <input type="hidden" name="file_delete"  th:value="${view.reference_identifier_org}"/>
                                    <label for="imagedelete"><input type="checkbox" name="imagedelete" id="imagedelete" value="Y"/><em></em>삭제</label> <th:block th:text="${view.reference_identifier_org}"></th:block>
                                    <input type="hidden" name="reference_identifier_name" th:value="${view.reference_identifier_org }"/>
                                    <a th:href="@{https://www.culture.go.kr/upload/rdf/{filename}(filename=${view.reference_identifier_org}) }" target="_blank" class="text_blueline">이미지 새창으로 확인</a>
                                </th:block>
                            </div>
                        </td>
                        <td>
                            <img th:if="${view.reference_identifier_org != null}" width="40%" alt="썸네일이미지" th:src="@{https://www.culture.go.kr/upload/rdf/{filename}(filename=${view.reference_identifier_org})}" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">URL</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:90%;" title="url" name="url" id="url" th:value="${view.url}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:90%;" title="url" name="url" id="url" />
                            <a href="#preview" th:onclick="|javascript:goLink()|" class="btn_mtype1">미리보기</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">기간</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:100px;" title="기간 시작일자" name="reg_start" th:value="${view.reg_start}">
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:100px;" title="기간 시작일자" name="reg_start">
                            <a href="#" class="ico_cal">달력</a>
                            ~
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:100px;" title="기간 마지막일자" name="reg_end" th:value="${view.reg_end}">
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:100px;" title="기간 마지막일자" name="reg_end">
                            <a href="#" class="ico_cal">달력</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">공연장소</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:90%;" title="장소" name="venue" id="venue" th:value="${view.venue}" readonly />
                            <input th:if="${view != null}" type="hidden" name="location" th:value="${view.location}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:90%;" title="장소" name="venue" id="venue" readonly/>
                            <input th:unless="${view != null}" type="hidden" name="location" />
                            <a href="#callPlacePopup" th:onclick="|javascript:callPlacePopup()|" class="btn_mtype1" data-org="venue">선택</a>
                            <a href="/facility/place/view.do" class="btn_mtype1" target="_blank">장소등록</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">시간</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="시간" name="time" id="time" th:value="${view.time}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="시간" name="time" id="time" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">러닝타임</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="러닝타임" name="extent" id="extent" th:value="${view.extent}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="러닝타임" name="extent" id="extent" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">연령</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="연령" name="grade" id="grade" th:value="${view.grade}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="연령" name="grade" id="grade" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">주최</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="주최" name="rights" id="rights" th:value="${view.rights}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="주최" name="rights" id="rights" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">관람료</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="관람료" name="charge" id="charge" th:value="${view.charge}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="관람료" name="charge" id="charge" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">문의</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="문의" name="reference" id="reference" th:value="${view.reference}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="문의" name="reference" id="reference" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">출연진</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="출연진" name="prfcast" id="prfcast" th:value="${view.prfcast}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="출연진" name="prfcast" id="prfcast" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">제작진</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <input th:if="${view != null}" type="text" style="width:97%;" title="제작진" name="prfcrew" id="prfcrew" th:value="${view.prfcrew}"/>
                            <!--/* 신규등록*/-->
                            <input th:unless="${view != null}" type="text" style="width:97%;" title="제작진" name="prfcrew" id="prfcrew" />
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">소개이미지1</th>
                        <td colspan="3">
                            <div style="margin-top: 5px;">
                                <input type="file" name="styurl1" title="파일선택" />
                                <!--/* 수정*/-->
                                <input th:if="${view != null}" type="hidden" name="file_delete_styurl1"  th:value="${view.styurl1}"/>
                                <!--/* 신규등록*/-->
                                <input th:unless="${view != null}" type="hidden" name="file_delete_styurl1"/>

                                <th:block th:if="${view != null and view.styurl1 != null}">
                                    <input type="hidden" name="file_delete_styurl1" th:value="${view.styurl1}" />
                                    <input type="checkbox" name="imagedelete_styurl1" id="imagedelete_styurl1" value="Y"/><em></em><label for="imagedelete_styurl1">삭제</label> <th:block th:text="${view.styurl1}"></th:block>
                                </th:block>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">소개이미지2</th>
                        <td colspan="3">
                            <div style="margin-top: 5px;">
                                <input type="file" name="styurl2" title="파일선택" />
                                <!--/* 수정*/-->
                                <input th:if="${view != null}" type="hidden" name="file_delete_styurl2"  th:value="${view.styurl2}"/>
                                <!--/* 신규등록*/-->
                                <input th:unless="${view != null}" type="hidden" name="file_delete_styurl2"/>

                                <th:block th:if="${view != null and view.styurl2 != null}">
                                    <input type="hidden" name="file_delete_styurl2" th:value="${view.styurl2}" />
                                    <input type="checkbox" name="imagedelete_styurl2" id="imagedelete_styurl2" value="Y"/><em></em><label for="imagedelete_styurl2">삭제</label> <th:block th:text="${view.styurl2}"></th:block>
                                </th:block>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">소개이미지3</th>
                        <td colspan="3">
                            <div style="margin-top: 5px;">
                                <input type="file" name="styurl3" title="파일선택" />
                                <!--/* 수정*/-->
                                <input th:if="${view != null}" type="hidden" name="file_delete_styurl3"  th:value="${view.styurl3}"/>
                                <!--/* 신규등록*/-->
                                <input th:unless="${view != null}" type="hidden" name="file_delete_styurl3"/>

                                <th:block th:if="${view != null and view.styurl3 != null}">
                                    <input type="hidden" name="file_delete_styurl3" th:value="${view.styurl3}" />
                                    <input type="checkbox" name="imagedelete_styurl3" id="imagedelete_styurl3" value="Y"/><em></em><label for="imagedelete_styurl3">삭제</label> <th:block th:text="${view.styurl3}"></th:block>
                                </th:block>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">소개이미지4</th>
                        <td colspan="3">
                            <div style="margin-top: 5px;">
                                <input type="file" name="styurl4" title="파일선택" />
                                <!--/* 수정*/-->
                                <input th:if="${view != null}" type="hidden" name="file_delete_styurl4"  th:value="${view.styurl4}"/>
                                <!--/* 신규등록*/-->
                                <input th:unless="${view != null}" type="hidden" name="file_delete_styurl4"/>

                                <th:block th:if="${view != null and view.styurl4 != null}">
                                    <input type="hidden" name="file_delete_styurl4" th:value="${view.styurl4}" />
                                    <input type="checkbox" name="imagedelete_styurl4" id="imagedelete_styurl4" value="Y"/><em></em><label for="imagedelete_styurl4">삭제</label> <th:block th:text="${view.styurl4}"></th:block>
                                </th:block>

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">제3자<br/>공개동의여부</th>
                        <td colspan="3">
                            <!--/* 수정*/-->
                            <th:block th:if="${view !=null}" th:text="${view.open_api_agree}" />
                            <!--/* 신규등록*/-->
                            <th:block th:unless="${view !=null}">
                                <ul class="itemlist">
                                    <li><input type="radio" name="open_api_agree" id="value" checked="checked" value="Y"/><em></em> <label for="value">동의</label></li>
                                    <li><input type="radio" name="open_api_agree" id="noAgree" value="N" /><em></em> <label for="noAgree">미동의</label></li>
                                </ul>
                            </th:block>
                        </td>
                    </tr>
                    <tr th:if="${view != null}">
                        <th scope="row">출처</th>
                        <td colspan="3" th:text="${view.site_name_value}"> </td>
                    </tr>
                    <tr>
                        <th scope="row">승인여부</th>
                        <td colspan="3">
                            <ul class="itemlist">
                                <li><input type="radio" name="approval" id="W" checked="checked" value="W"/><em></em> <label for="W">대기</label></li>
                                <li><input type="radio" name="approval" id="Y" value="Y" /><em></em> <label for="Y">승인</label></li>
                                <li><input type="radio" name="approval" id="N" value="N" /><em></em> <label for="N">미승인</label></li>
                            </ul>
                        </td>
                    </tr>

                    <tr th:if="${view !=null and view.uci !=null}">
                        <th scope="row">모바일사용여부</th>
                        <td colspan="3">
                            <ul class="itemlist">
                                <li><input type="radio" name="mobile_yn" id="mobile_yn_y" value="Y" th:attr="checked=${view.mdescription != null ? 'true' : 'false' }"/><em></em> <label for="mobile_yn_y">사용</label></li>
                                <li><input type="radio" name="mobile_yn" id="mobile_yn_n" value="N" th:attr="checked=${view.mdescription == null ? 'true' : 'false' }"/><em></em> <label for="mobile_yn_n">사용안함</label></li>
                            </ul>

                        </td>
                    </tr>

                    <tr>
                        <th scope="row">다운로드</th>
                        <td colspan="3">
                            <th:block th:if="${view != null and view.web_accessibility_file != null} ">
                                <a th:href="@{http://www.culture.go.kr/download.do?(filename=${view.web_accessibility_file},orgname=${view.web_accessibility_file_org })}" th:text="첨부파일 다운로드" target="_blank"></a>
                            </th:block>
                            <th:block th:unless="${view != null and view.web_accessibility_file != null}" >-</th:block>
                        </td>
                    </tr>

                </tbody>
            </table>

            <h4 class="h401">줄거리</h4>
            <table class="tbl_view">
                <caption>공연/전시 컨텐츠 글쓰기</caption>
                <colgroup>
                    <col style="width:15%" />
                    <col style="width:35%" />
                    <col style="width:15%" />
                    <col style="width:35%" />
                </colgroup>
                <tbody>
                    <tr>
                        <td colspan="4">

                            <script type="text/javascript" language="javascript">
                                var CrossEditor = new NamoSE('txt_contents');
                                CrossEditor.params.Width = "100%";
                                CrossEditor.params.Height = "900px";
                                CrossEditor.params.UserLang = "auto";
                                CrossEditor.params.UploadFileSizeLimit = "image:10485760";
                                CrossEditor.params.Font = {"NanumGothic":"나눔고딕","Dotum":"돋움", "Gulim":"굴림", "Batang":"바탕", "Gungsuh":"궁서", "맑은 고딕":"맑은 고딕"  ,"David":"David", "MS Pgothic":"MS Pgothic","Simplified Arabic":"Simplified Arabic","SimSun":"SimSun","Arial":"Arial","Courier New":"Courier New", "Tahoma":"Tahoma", "Times New Roman":"Times New Roman", "verdana":"Verdana"};
                                CrossEditor.EditorStart();
                                function OnInitCompleted(e){
                                    e.editorTarget.SetBodyValue(document.getElementById("txt_contents").value);
                                }
                            </script>
                            <textarea id="txt_contents" name="description" title="initText" style="display:none;"><th:block th:text="${view != null ? #strings.escapeXml(view.description) : ''}"></th:block></textarea>

                        </td>
                    </tr>
                </tbody>
            </table>


            <div class="btn_right">
                <th:block th:if="${view != null}">
                    <a href="#" class="btn_ltype1">수정</a>
                    <a href="#" class="btn_ltype1">삭제</a>
                </th:block>
                <th:block th:unless="${view != null}">
                    <a href="#" class="btn_ltype1">등록</a>
                </th:block>
                <a href="#" class="btn_ltype3">목록</a>
            </div>
        </div>
        </form>
    </div>
</body>
</html>