<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}">
<head>
<title>KCISA 문화포털 통합관리시스템</title>
<script type="text/javascript">
$(function () {

	var frm			=	$('form[name=frm]');
	var category	=	frm.find('select[name=category]');
	var keyword		=	frm.find('input[name=keyword]');
	var search_btn	=	frm.find('a[name=search_btn]');

	var search = function () {
		frm.submit();
	};

	search_btn.click(function () {
		search();
		return false;
	});

	$('.tmp1').each(function () {
		var v1 = $(this).next().text().replace(/[^0-9]/g, '');
		var v2 = $(this).text().replace(/[^0-9]/g, '');
		var v3 = 0;
		
		if (v1 == 0 && v2 == 0) {
			v3 = 0;
		} else if (v1 == 0 && v2 > 0) {
			v3 = 0;
		} else if (v1 > 0 && v2 == 0) {
			v3 = '∞';
		} else {
			v3 = ((v1 / v2) * 100).toFixed(2);
		}

		// console.log(v1 + ':' + v2);
		
		$(this).next().next().text( v3 + ' %' );
	});

});
</script>
</head>
<body>
	<div id="contents" layout:fragment="contents"
		th:with="currentMenu=${currentMenu}">
		<!--/* content_header 시작 */-->
		<th:block
			th:replace="~{layout/fragments/contentHeader :: contentHeader}"></th:block>
		<!--/* content_header 끝 */-->


		<form name="frm" method="get" action="/meta/quality/list.do">
			<div class="search_box">
				<input type="hidden" name="page_no" th:value="${paramMap[page_no]}" />
				<!-- search -->
				<table class="tbl_search">
					<caption>게시판 글 검색</caption>
					<tbody>
						<tr>
							<th scope="row">구분</th>
							<td>
							<select name="category">
							<option value="">전체</option>
							<option value="">전체</option>
							<option value="관광" th:selected="paramMap[category] == '관광' ? true : false"  >관광</option>
							<option value="도서" th:selected="paramMap[category] == '도서' ? true : false">도서</option>
							<option value="문화산업" th:selected="paramMap[category] == '문화산업' ? true : false">문화산업</option>
							<option value="문화예술" th:selected="paramMap[category] == '문화예술' ? true : false">문화예술</option>
							<option value="정책" th:selected="paramMap[category] == '정책' ? true : false">정책</option>
							<option value="체육" th:selected="paramMap[category] == '체육' ? true : false">체육</option>
						</select>
							<input type="text" name="keyword" placeholder="검색어 입력" th:value="${paramMap[keyword] }" /></td>
						</tr>
					</tbody>
				</table>
				<div class="search_btn">
					<a class="btn_search" name="search_btn">검색</a>
				</div>
			</div>
			<!-- //search -->
			<div class="cont_box">
				<!-- list -->
				<table class="tbl_list">
					<caption>게시판 글 목록</caption>
					<colgroup>
						<col style="width:70%;"/>
						<col style="width:15%;"/>
						<col />
					</colgroup>
					<thead>
						<tr>
							<th scope="col">기관명</th>
							<th scope="col">일자</th>
							<th scope="col">카운트</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${dataList.empty}">
							<tr>
								<td colspan="3">검색된 결과가 없습니다.</td>
							</tr>
						</th:block>
						<th:block th:if="${!dataList.empty}" >
							<th:block th:with="total='0', rowCount='0'" >
							<th:block th:each="list, sts: ${dataList }">
								<tr>
									<td>
										<a th:href='@{statisticView.do(group_id=${list.JOB_GROUP_ID },qs=${paramMap[qs] })} '>
											<th:block th:text='${list.JOB_GROUP_NAME }' />
										</a>
									</td>
									<td>
										<th:block th:text='${list.REG_DATE }' />
									</td>
									<td>
										<th:block th:text="${#numbers.formatInteger(list.CNT,3,'POINT')}" />
									</td>
									<th:block th:with="total=${total + list.CNT }" />
									<th:block th:with="rowCount=${rowCount + 1 }" />
								</tr>
							</th:block>
								<tr style="background-color:#F0F0F0">
									<td>합계</td>
									<td>
										<th:block th:text="|${rowCount }개 기관|" />
									</td>
									<td>
									<th:block th:text="${#numbers.formatInteger(total,3,'POINT')}" />
									</td>
								</tr>
							</th:block>
						</th:block>
					</tbody>
				</table>
				<!-- //list -->
			</div>
		</form>
	</div>
</body>
</html>